/* ===================================================
BASE
=================================================== */

/* ---------------------------------------------------
Global styles
--------------------------------------------------- */

* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.warning {
	display: none;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	background: white;
	padding: 10px 20px;

	&.is-active {
		display: block;
	}
}

.fullscreen-btn {
	position: absolute;
	top: 40px;
	right: 10px;

	&.is-active {
		display: block;
	}
}